<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
	<title>Sin Permisos</title>
</head>
<body>
	<h1>No tiene Acceso a Esta Seccion</h1>
	<a href="/admstzef/">Volver al Inicio</a>
</body>
</html>

