<div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="margin-top-0 wow fadeIn">Contactenos</h2>   
    </div>
    <div class="col-lg-10 col-lg-offset-1 text-center">
        <form class="contact-form row">
            <div class="col-md-4">
                <label></label>
                <input type="text" class="form-control" placeholder="Nombre">
            </div>
            <div class="col-md-4">
                <label></label>
                <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="col-md-4">
                <label></label>
                <input type="text" class="form-control" placeholder="Telefono">
            </div>
            <div class="col-md-12">
                <label></label>
                <textarea class="form-control" rows="9" placeholder="Escriba su mensaje.."></textarea>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <label></label>
                <button type="button" data-toggle="modal" data-target="#alertModal" class="btn btn-primary btn-block btn-lg">Enviar<i class="ion-android-arrow-forward"></i></button>
            </div>
        </form>
    </div>
</div>

