{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cmsstzefstate creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-success" value="Crear" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('states_index') }}">Listado</a>
        </li>
    </ul>
{% endblock %}
