	
<div>
		{% for article in category.articles %}
		<div class="row">
			<div class="article article-notice col-md-4">
				<img class="img-responsive" src="{{ article.imageMain }}" alt="">
			</div>
			<div class="article article-notice col-md-4">
			
				<h5 class=""><a href="articles/{{article.id}}">{{ article.name }}</a></h5>

				<p>{{article.contentHTML|raw}}</p>
			
				
			</div>
		</div>
		

		{% endfor %}
</div>
